{:paths ["src"]
 :deps {}
 :aliases {:cljs-storm {:classpath-overrides {org.clojure/clojurescript nil}
                        :extra-deps {thheller/shadow-cljs {:mvn/version "2.25.6"
                                                           :exclusions [org.clojure/clojurescript]}
                                     com.github.flow-storm/clojurescript {:mvn/version "1.11.60-4"}
                                     com.github.flow-storm/flow-storm-dbg {:mvn/version "3.8.3"}}
                        :jvm-opts ["-Dcljs.storm.instrumentOnlyPrefixes=org.foo,dev,cljs.user"
                                   "-Dcljs.storm.instrumentEnable=true"
                                   "-Dflowstorm.startRecording=true"
                                   "-Dflowstorm.theme=dark"]}}}
