{:deps {:aliases [:cljs-storm]}
 :source-paths ["src"]
 :nrepl {:port 7123}
 :builds
 {:dev-test {:target :browser
             :devtools {:preloads [flow-storm.storm-preload]
                        :http-port 8021
                        :http-root "public"}
             :modules {:main
                       {:entries [org.foo.myscript]}}
             :compiler-options {:infer-externs false}
             :output-to "public/dev-test.js"}}}
